.footer {
    margin-top: 5rem;
    /* mt-20 */
    padding-top: 1.5rem;
    /* py-6 = 24px (top/bottom) */
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: #1e40af;
    /* bg-blue-800 */
    color: white;
    /* text-white */
}

.footer-top {
    display: flex;
    justify-content: space-between;

    align-items: center;

    flex-direction: column;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}

.footer-left button {
    margin-right: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.footer-left button:hover {
    opacity: 0.8;
}

.contact-form {
    /* Add your form styling here */
}

.hm-btn {
    background-color: white;

    width: 4rem;

}

.abt-btn {}
.social-icons a {
  margin: 0 10px;
  color: white;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #60a5fa;   /* light blue */
}
