.footer {
    margin-top: 5rem;
    /* mt-20 */
    padding-top: 1.5rem;
    /* py-6 = 24px (top/bottom) */
    padding-bottom: 1.5rem;
    text-align: center;
    background-color: #1e40af;
    /* bg-blue-800 */
    color: white;
    /* text-white */
}

.footer-top {
    display: flex;
    justify-content: space-between;

    align-items: center;

    flex-direction: column;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}

.footer-left button {
    margin-right: 1rem;
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.footer-left button:hover {
    opacity: 0.8;
}

.contact-form {
    /* Add your form styling here */
}

.hm-btn {
    background-color: white;

    width: 4rem;

}

.abt-btn {}
.social-icons a {
  margin: 0 10px;
  color: white;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #60a5fa;   /* light blue */
}

/* SOCIAL POPUP WRAPPER */
.footer-social {
  display: flex;
  gap: 2rem;
  font-size: 0.7rem;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 2rem;

}

.footer-social-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.footer-social-box i {
  color: white;
  transition: 0.3s;
}

.footer-social-box i:hover {
  color: #60a5fa;
}


.footer-social-box .footer-social-popup {
  display: none;
  position: absolute;
  bottom: 1.5rem;    /* popup touches icon */
  left: 50%;    
  transform: translateX(-50%);
  background: white;
  padding: 12px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.2);
  text-align: left;
  animation: fadeIn 0.2s ease;
  z-index: 999;
}

.footer-social-box:hover .footer-social-popup {
  display: block;
}

.footer-social-popup a {
  display: block;
  text-decoration: none;
  color: #1e40af;
  padding: 6px 0;
  font-size: 0.9rem;
}

.footer-social-popup a:hover {
  color: #14338d;
  text-decoration: underline;
}
.footer-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
